  
  body { 
    font:20px sans-serif; 
  }
  cite { 
    font-weight:bold; 
  }
  ul {
    margin-left: auto;
    margin-right: auto;
    width: 100%;

  }
  .description {
    color: #6B581A;
    font-weight: bold;
  }

  .picture { 
    border-radius:0.7em; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 400px;
  }
  .avatar { 
    border-radius:100%; 
    border-width:1px; 
    border-style: dashed solid; 
  }

  .caption { 
    font-size:15px; 
  }

  .author { 
    font-size: 22px;
    font-weight: bold;
  }

  .author img { 
    float:left;
    margin:0 10px 0 0px; 
  }

  .commenter {
    font-size: 18px;
    font-weight: bold;
  }

  .comment { 

    display:block; 
    clear:both; 
    min-height:2.1em; 
    padding:0 2em 1em; 
    margin:0;  
  }

  .module {
    overflow: hidden;
    background: white;
    padding: 10px 10px 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.7);
    margin: 0 0 20px 0;
  }
  .module-related {
    padding: 20px 30px 20px 30px !important;
    width: 50%;
    overflow: hidden;
    display: center;
    margin: 0 auto;
    font-size: 80%;
  }

  .page-wrap {
    background: #d6d5d5;
    width: 100%;
    position: relative;
    padding-top: 20px;
  }